<section id="contact">

  {% include title.html data=include.data %}

  <form name="contact" id="contact-send" action="https://formspree.io/contact@toddstreet.com" method="POST">

    <div id="contact-inner-container">
      <div class="contact-info">
        <div id="map"></div>
          {% include map.html %}
          <div class="contact-info-text">
            <span class="contact-title address">{{site.address}}</span>
            <span class="contact-title city no-margin">{{site.city}}, {{site.state}}</span>
            <span class="contact-title telephone no-margin">{{site.telephone}}</span>
            {% for email in site.emails %}
            <span class="contact-title email {% if forloop.index > 1 %} no-margin{% endif %}">{{email}}</span>
            {% endfor %}
          </div>
      </div>
      <div class="contact-form">
          <div class="contact-title no-margin">Name<i>*</i></div>
          <input type="text" name="name" value="" required />

          <div class="contact-title">Email<i>*</i></div>
          <input type="email" name="email" value="" required />

          <div class="contact-title">{{include.data.question}}</div>
          <div class="contact-reasons">
            {% for answer in include.data.answers %}
            <input class="answer" type="button" value="{{answer}}" />
            {% endfor %}
          </div>

          <input id="answer" class="answer hidden" type="text" name="reason" value="Not Specified" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value = "{{site.url | append: site.baseurl}}/thanks.html"  style="display:none" />

          <div class="contact-title margin">Tell us your message</div>
          <div class="contact-message">
            <textarea name="message" rows="8" ></textarea>
          </div>
      </div>
    </div>

    <div class="contact-section button-wrapper">
      <input class="button" type="submit" name="" value="Submit" />
    </div>

  </form>
</section>
