<footer>
  <div id="footer-map">
  {% assign navpages = site.pages | where-exp: 'item', 'item.nav' | sort: 'nav' %}
    {% for navpage in navpages %}
    {%  if navpage.sections %}
    {% if navpage.title %}
    <div class="footer-page">
      <a href="{{site.url | append: site.baseurl}}{{navpage.url}}">
        <h3>{{navpage.title}}</h3>
      </a>
      {% for section in navpage.sections %}
      {% if section.site-map %}
        <a href="{{site.url | append: site.baseurl}}{{navpage.url}}#{{section.section}}">
          <span>{{section.title}}</span>
        </a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  <div id="footer-info">
    <div id="footer-icon">{% include get-icon.html icon="viewfinder"%}</div>
    <div id="footer-info-text">
      <div id="footer-logo">{% include get-icon.html icon="logo"%}</div>
      <div id="footer-address">
        <span id="footer-address-text">{{site.address}}</span>
        <span class="footer-city-text">{{site.city}}</span>
        <span class="footer-city-text">{{site.state}}</span>
        <span class="footer-city-text">{{site.zip}}</span>
      </div>
      <div id="footer-phone">
        <span>{{site.telephone}}</span>
      </div>
      <div id="footer-email">
        {% for email in site.emails %}
        <span>{{email}}</span>
        {% endfor %}
      </div>
      <div id="footer-social">
        {% include social.html %}
      </div>
    </div>
  </div>
</footer>
