<section id="form">

  {% include title.html data=include.data %}

  <form name="form" id="form-send" action="https://formspree.io/smetcalf@toddstreet.com" method="POST">

    <div id="form-inner-container">
      <div class="form-section info">
          {% include map.html %}
          <div class="form-row info">
            <span class="form-title address">{{site.address}}</span>
            <span class="form-title city">{{site.city}}, {{site.state}}</span>
            <span class="form-title telephone">{{site.telephone}}</span>
            {% for email in site.emails %}
            <span class="form-title email">{{email}}</span>
            {% endfor %}
          </div>
      </div>
      <div class="form-section form">

          <div class="form-row inputs">
            <div class="form-title no-margin">Name<i>*</i></div>
            <input type="text" name="name" value="" required />

            <div class="form-title margin">Email<i>*</i></div>
            <input type="email" name="email" value="" required />

            <div class="form-row">
              {% for item in include.data.data %}
                {% if item.question %}
                  <div class="form-title question margin">{{item.question}}</div>
                  <div class="form-row answers">
                    {% for answer in item.answers %}
                    <input class="answer" type="button" value="{{answer}}" />
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <input id="answer" class="answer hidden" type="text" name="reason" value="Not Specified" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value = "{{site.url | append: site.baseurl}}/thanks.html"  style="display:none" />
            <div class="form-title margin">Tell us your message</div>
            <textarea name="message" rows="8" ></textarea>
          </div>
      </div>
    </div>

    <div class="form-section button-wrapper">
      <input class="button" type="submit" name="" value="Submit" />
    </div>

  </form>
</section>
