#employees
  border-top: 1px solid $c100
  border-bottom: 1px solid $c100
  background-color: #fff
  position: relative
  padding-bottom: $paddingh/4
  .section-title
    h1
      i
        color: $blue
  #employee-color-box
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    width: 320px
    background-color: $c95
    //background-repeat: repeat
    z-index: -1
  #inner-employees
    z-index: 1
    .department
      display: flex
      flex-direction: row
      padding: $paddingh/1.5 0px
      &:first-child
        padding-top: 0px
      .department-title
        flex: 0 0 320px
        text-align: right
        padding: 1em 2em
        h2
          font-size: 1.7em
          color: $c30
          margin: 0px
          margin-top: 2em
      .department-employees
        flex: 1 1 auto
        display: flex
        flex-direction: row
        flex-wrap: wrap
        padding: 1em
        .employee
          flex: 0 0 $column4
          margin: 0px 0px 2em
          .employee-text
            padding: 0px 2em
            margin-top: .5em
            text-align: center
            line-height: .9em
            h3
              margin: .5em 0px .2em
              color: $c30
              letter-spacing: .05em
              font-size: 1em
            span
              color: $c60
              font-size: .8em
              line-height: 1em
          .employee-photo
            opacity: .9
            border-radius: 50%
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            width: 9em
            height: 9em
            margin: auto

  @media screen and (max-width: $desktop + 100px)
    #employee-color-box
      width: 290px
    #inner-employees
      .department
        .department-title
          flex: 0 0 290px
          h2
            font-size: 1.5em
        .department-employees
          .employee
            flex: 0 0 $column3

  @media screen and (max-width: $tablet + 100px)
    #employee-color-box
      width: 200px
    #inner-employees
      .department
        .department-title
          flex: 0 0 200px
        .department-employees
          .employee
            flex: 0 0 $column2

  @media screen and (max-width: $mobile + 50px)
    #employee-color-box
      display: none
    #inner-employees
      .department
        flex-direction: column
        padding: 0px
        .department-title
          flex: 0 0 auto
          background: $c100
          text-align: center
          margin: 2em
          margin-top: 0px
          border-radius: .25em
          h2
            margin: 0px
